asgiref
click
colorama
crispy-bootstrap5
cssbeautifier
dj-database-url
Django
django-crispy-forms
django-environ
django-humanize
djlint
EditorConfig
html-tag-names
html-void-elements
humanize
jsbeautifier
json5
pathspec
Pillow
psycopg2-binary
PyYAML
regex
six
sqlparse
tqdm
typing_extensions
tzdata