asgiref
astroid
autopep8
certifi
click
colorama
crispy-bootstrap5
cssbeautifier
dill
distlib
dj-database-url
Django
django-crispy-forms
django-environ
djlint
EasyProcess
EditorConfig
entrypoint2
filelock
flake8
html-tag-names
html-void-elements
importlib-metadata
isort
jedi
jsbeautifier
json5
mccabe
MouseInfo
mss
numpy
opencv-contrib-python
packaging
parso
pathspec
Pillow
pipenv
platformdirs
pluggy
psycopg2
psycopg2-binary
pyarrow
PyAutoGUI
pycodestyle
pydocstyle
pyflakes
PyGetWindow
pylance
pylint
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-jsonrpc-server
python-language-server
pytoolconfig
pytweening
PyYAML
regex
rope
six
snowballstemmer
sqlparse
toml
tomli
tomlkit
tqdm
typing_extensions
tzdata
ujson
virtualenv
yapf