{% extends "base.html" %}
{% block head_title %}
  All Books
{% endblock head_title %}
{% block content %}
  <div class="flex">
    <div class="grid grid-cols-1 pl-8 pt-8">
      <form method="get" action="{% url 'book_list' %}" class="leading-loose">
        {% csrf_token %}
        <label for="category_filter"
               class="uppercase bg-sky-900 border-0 px-2 py-1 text-white">Filter by Category:</label>
        <select name="category_filter" id="category_filter" class="py-2">
          <option value="">All Categories</option>
          {% for category in categories %}<option value="{{ category.name }}">{{ category.name }}</option>{% endfor %}
        </select>
        <br />
        <button type="submit"
                class="uppercase text-white bg-sky-700 hover:bg-sky-900 px-2 mt-2">Apply</button>
      </form>
    </div>
    <div class="grid gap-x-4 gap-y-4 grid-cols-4 pr-8 py-8">
      {% for book in books %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
          <img src="{{ book.image.url }}" alt="{{ book.title }}" class="w-full h-72">
          <div class="px-6">
            <div class="font-bold text-xl">{{ book.title }}</div>
            <p class="text-gray-700 text-base">Author: {{ book.author }}</p>
          </div>
          <div class="px-6">
            <p class="text-gray-600 text-base">Publisher: {{ book.publisher }}</p>
          </div>
          <div class="px-6">
            <p class="text-gray-600 text-base">Borrowing Price: {{ book.borrowing_price }} $</p>
          </div>
          <div class="px-6">
            <p class="text-gray-600 text-base">
              Categories: <span class="text-sm text-orange-600 border-0 px-1.5 py-0.5 bg-sky-100 rounded">{{ book.categories.all|join:", " }}</span>
            </p>
          </div>
          <div class="px-6 pb-4 pt-4">
            <a class="btn btn-sm text-orange-600 border-0 bg-gray-300 px-4 py-2 rounded hover:bg-gray-500"
               href="{% url 'book_details' pk=book.pk %}">Details</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
