{% extends "base.html" %}
{% load humanize %}
{% block head_title %}
  Borrow History
{% endblock head_title %}
{% block content %}
  <div class="h-screen">
    <table class="table-auto mx-auto w-full px-5 rounded-xl border dark:border-neutral-500">
      <thead class="bg-purple-500 text-white text-left">
        <tr class="bg-cyan-600 rounded-md py-2 px-4 text-white font-bold">
          <th class="px-4 py-2">Borrow Date</th>
          <th class="px-4 py-2">Book Title</th>
          <th class="px-4 py-2">Amount</th>
          <th class="px-4 py-2">Status</th>
          <th class="px-4 py-2"></th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr class="border dark:border-neutral-500">
            <td class="px-4 py-2">{{ transaction.timestamp|date:"F d, Y h:i A" }}</td>
            <td class="px-4 py-2">{{ transaction.book.title }}</td>
            <td class="px-4 py-2">${{ transaction.book.borrowing_price|floatformat:2|intcomma }}</td>
            <td class="px-4 py-2">
              {% if not transaction.is_returned %}
                <form method="post" action="{% url 'return_book' pk=transaction.pk %}">
                  {% csrf_token %}
                  <button type="submit"
                          class="btn btn-sm border-0 bg-sky-500 hover:bg-sky-700 rounded px-2 py-0.5">Return</button>
                </form>
              {% else %}
                <button type="button" class="text-green-600" disabled>Returned</button>
              {% endif %}
            </td>
            <td class="px-4 py-2">
              <form method="post"
                    action="{% url 'book_review' book_id=transaction.book.id %}">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-sm border-0 bg-sky-500 hover:bg-sky-700 rounded px-2 py-0.5">
                  Review Book
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr class="bg-sky-700 text-white">
          <th></th>
          <th class="py-2" colspan="2">
            <span class="mr-4">Current Balance :</span> ${{ request.user.profile.balance|floatformat:2|intcomma }}
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}
