{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
  {{ book.title }}
{% endblock head_title %}
{% block content %}
  <div class="mx-8 py-12">
    <div class="flex">
      <img src="{{ book.image.url }}"
           alt="{{ book.title }}"
           class="w-64 h-82 object-cover">
      <div class="ml-8">
        <h1 class="font-bold text-2xl pt-4 pb-4">{{ book.title }}</h1>
        <p class="pb-4">Author: {{ book.author }}</p>
        <p class="pb-4">Publisher: {{ book.publisher }}</p>
        <p class="pb-4">Date of Publication: {{ book.date_of_publication|date:"F d, Y" }}</p>
        <p class="pb-4">Description: {{ book.description }}</p>
        <p class="pb-4">Price: {{ book.borrowing_price }} $</p>
      </div>
    </div>
    <hr class="border-2 my-4 text-orange-700" />
    <!-- Display existing reviews if any -->
    {% if book.reviews.all %}
      <h2 class="font-bold text-xl pb-2">Total Reviews: {{ book.reviews.all | length }}</h2>
      <hr class="border-2 my-4 text-black" />
      <ul>
        {% for review in book.reviews.all %}
          <li>
            <strong>{{ review.user }}</strong>
            <p>Rating: {{ review.rating }}</p>
            <p>{{ review.comment }}</p>
            <p>{{ review.created_at|date:"F d, Y" }}</p>
          </li>
          <hr class="border-2 my-4 text-black" />
        {% endfor %}
      </ul>
    {% else %}
      <p>No reviews yet.</p>
    {% endif %}
    <!-- Comment Form -->
    <div class="border-2">
      <h4 class="text-center py-2 text-xl font-semibold text-sky-900">Leave Your Review</h4>
      <form method="post" class="ml-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg bg-sky-700 rounded border-1 px-4 py-2 mt-2 hover:bg-sky-900">Submit Review</button>
      </form>
    </div>
  </div>
{% endblock content %}
